.navbar {
    background-color: transparent;
}

.navbar-toggler-icon {
    height: 1em;
    width: 1em;
}

.search-notes {
    width: 75%;
    max-width: 600px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.search-input-mobile-on {
    top: 1%;
    z-index: 50;
    background-color: #FFFFFF;
    display: block;
}

.hide-on-header {
    visibility: hidden
}

.hide-on-header > * {
    visibility: hidden
}