body {
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #F6DDAC;
/*    background: repeating-linear-gradient(
        to bottom,
        #F6DDAC 0,
        #F6DDAC 20px,
        #000 20px,
        #000 21px
  );
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);*/
}

main {
    padding: 1em 2em;
}

input:focus {
    outline: none;
    box-shadow: none;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
}

a {
    text-color: #000;
    text-decoration: none;
}